:root{
    --fs-sm:12px;
    --fs-xsm:14px;
    --fs-md:16px;
    --fs-lg:18px;
    --fs-xl:36px;



    /* color  */
    --primary:#666666;
    --secondary:#1A9FFF;
    --null:#F8F8F8;
    --light:#E0E0E0;
    
}